#wrapper {
    order: 1px solid red;
    left: 30%;
    top: 20%;
    height: 500px;
    width: 500px;
    position: absolute;
}
#startTime {
    background-color: red;
    color: white;
    font-size: 20px;
    margin-left: 33%;
    padding: 15px 32px;
}